extends layout.pug

block content
.margins
	h1 Sign in
	if message
			.loud
				p #{message}
	form(action='/login',method='post')
		.box
			label(for='username') Username
			input(type='text',name='username')
			label(for='password') Password
			input(type='password',name='password')
			br
			button(type='submit') Sign in
			a.link(href='/') Nevermind
		p
			span Don't have an account yet? 
			a.link(href='/signup') Sign up here!